<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Photos and Albums</a>
        </div>
    </div>
</nav>
<div class="jumbotron" style="margin-top: 60px">
    <div class="container">
        <h3> Albums </h3>
            <div class="listgroup" ng-repeat="album in albums" ng-click='update_url(album)'>
                <button type="button" class="list-group-item">{{ album.title}}</button>
            </div>
        </div>
    </div>
</div>



